#define MACRO(NAME, BIND) \
    m##NAME: macro_##NAME { \
        compatible = "zmk,behavior-macro"; \
        label = #NAME; \
        #binding-cells = <0>; \
        bindings = <BIND>; \
    };

MACRO(Double_acut,  &kp LS(FI_ACUT) &kp LS(FI_ACUT))
MACRO(Double_tilde, &kp RA(FI_DIAE) &kp RA(FI_DIAE))
MACRO(Ddslash,      &kp FI_DOT      &kp FI_DOT &kp FI_SLSH)
MACRO(Iquote,       &kp LS(I)       &kp FI_QUOT)
